* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

:root {
    --white-color: #ffffff;
    --background-color: #f8fafc;
    --foreground-color: #1e293b;

    --primary-color: #4f46e5;
    --primary-light-color: #6366f1;
    --primary-dark-color: #3730a3;
    --primary-color-opacity: rgba(79, 70, 229, 0.25);
}

html {
    font-size: 10px;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    background-color: var(--background-color);
    font-size: 1.6rem;
}



main.score-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 768px;
    background-color: var(--white-color);
    box-shadow: 2px 2px 18px #ddd;


}
.score-result{
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
  }


.score-result,
.score-summery {
    flex: 1;
    padding: 4rem;
}

.score-summery {
    background-color: var(--white-color);
    /* عشان تزبط ال margin-top:auto for button */
    display: flex;
    flex-direction: column;
}

.score-result h2,
.score-summary h2 {
    font-size: 2.1rem;
}

.score-result {
    display: flex;
    flex-direction: column;

    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 3rem;

    background-image: linear-gradient(to bottom, var(--primary-light-color), var(--primary-dark-color));
}

.score-result h2 {
    font-weight: 500;
    color: var(--white-color);
    opacity: 0.75;
}

.score-result .score-result-numbers {
    --size: 20rem;
    width: var(--size);
    height: var(--size);
    background-image: linear-gradient(to bottom, var(--primary-dark-color), var(--primary-light-color));
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    color: var(--white-color);

}

.score-result .score-result-numbers .score-result-main {
    font-size: 6rem;

    font-weight: 700;
}

.score-result .score-result-numbers .score-result-sub {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: .5;
}

.score-result .score-result-text {
    text-align: center;
    color: var(--white-color);
}

.score-result .score-result-text h1 {
    font-size: 3rem;
    font-weight: 600;

    margin-bottom: 1.6rem;
}

.score-result .score-result-text p {
    width: 100%;
    /* max-width: 25rem; */
    margin-bottom: 2rem;
    opacity: 0.6;

}
.score-summery{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }

.score-summery h2 {
    font-weight: 600;
    color: var(--foreground-color);
    margin-bottom: 2rem;
}


.score-summery ul.score-summery-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;


}

.score-summery ul.score-summery-list  li h3 {
    font-size: 1.6rem;
    font-weight: 500;
  }

.score-summery ul.score-summery-list li {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: var(--list-item-color);
    background-color: var(--list-item-background-color);
    padding: 1.6rem 2rem;
    border-radius: 1.2rem;
   
}

.score-summery ul.score-summery-list li p {
    margin-left: auto;
    font-weight: 600;
}
.score-summery ul.score-summery-list li p span {
    color: var(--foreground-color);
  }
  
  .score-summery ul.score-summery-list li p .slash,
  .score-summery ul.score-summery-list li p .score-total {
    opacity: 0.5;
  }
  
  .score-summery ul.score-summery-list li p .slash {
    margin: 0 0.4rem;
  }

.score-summery ul.score-summery-list li.red {
    --list-item-color: #ef4444;
    --list-item-background-color: #fef2f2;
}

.score-summery ul.score-summery-list  li.yellow {
    --list-item-color: #eab308;
    --list-item-background-color: #fefce8;
}

.score-summery ul.score-summery-list  li.green {
    --list-item-color: #22c55e;
    --list-item-background-color: #f0fdf4;
}

.score-summery ul.score-summery-list li.blue {
    --list-item-color: #3b82f6;
    --list-item-background-color: #eff6ff;
}

svg {
    --size: 2rem;
    height: var(--size);
    width: var(--size);
}

.button-primary{
    width: 100%;
    padding: 1.6rem;
    font-weight: 500;
    border: none;
    background-color: var(--foreground-color);
    color: var(--white-color);
    /*flex .score-summery عشان يزبط المارجن توب ايتو حطيت البيرنت  */
    margin-top: auto;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
}
/* Media Queries */
@media only screen and (min-width: 540px) {
    .score-result .score-result-text p{
      max-width: 40rem;
    }
  }
  
  /* Tablet Design */
  @media only screen and (min-width: 768px) {
    main.score-card{
      flex-direction: row;
     
    }
  
    main.score-card,
    .score-result,
    .score-summery {
      border-radius: 4rem;
    }
  
    .score-result .score-result-text p{
      max-width: 28rem;
    }
  }